<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    </style>
</head>
<body>
    <h1>Hi i am here</h1>
    <div>
        <form method="POST" action="/url">
            <label for="fname">Enter Your Original URL</label>
            <input type="text" id="fname" name="url" placeholder="example.com"><br>
            <button type="submit">OK</button>
          </form>
    </div>

    <% if (locals.id) { %>
        <p>URL Generated: http://localhost:3000/url/<%= id %></p>
    <% } %>
    
</body>
</html>